body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 80vh;
    flex-direction: column;
    align-content: space-between;
    text-align: justify;
}
.header{
    border: 2px solid green;
    height: 50vh;
    width: 50vw;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}