
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    align-content: space-between;
   
}
ul.list{
display: grid;
grid-template-columns: 1fr ;
grid-column-gap: 1em;
grid-row-gap: 0.5em;


}
li{
 list-style: none;
 display:grid;
 grid-template-columns:repeat(5,1fr);
 flex-direction: row;
 width: 20em;
 justify-content: center;

}
span{
    margin: 0.1em;
    border: 1px solid blue;
    text-align: center;
}