body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    align-content: space-between;
   
}
ul.list{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;


}
li{
 border: 2px solid grey;
 list-style: none;
 width: 20em;
}